body {
  text-align: center;
  background-color: antiquewhite;
}

h1 {
  color: #0d0914;
}

#fileInput {
  display: none;
}

#uploadButton {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}